@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", "sans-serif";
  --color-background: var(--color-zinc-950);
  --color-background-muted: var(--color-zinc-800);
  --color-primary: #c2caea;
}

.scroller {
  scrollbar-color: var(--color-background-muted) var(--color-background);
  scrollbar-width: thin;
}
